.container {
  width: 100%;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    color: var(--primary);
    font-size: 40px;
  }

  .nav {
    .nav_ul {
      display: flex;
      gap: 16px;

      .nav_li {
        list-style: none;
        color: var(--title-light);
        transition: 300ms ease-in-out;

        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          color: var(--title);

          .nav_row {
            width: 100%;
            background-color: var(--title);
          }
        }

        .nav_link {
          text-decoration: none;
        }

        .nav_row {
          width: 0;
          height: 1px;
          background-color: var(--title-light);
          transition: 300ms ease-in-out;
        }
      }
    }
  }
}